<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.gre.voc.sync</string>

    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>/Users/zhengyuxing/Desktop/xy_workp/gre_voc_desktop/sync_to_github.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>10</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>Hour</key>
        <integer>22</integer>
        <key>Minute</key>
        <integer>0</integer>
      </dict>
    </array>

    <key>StandardOutPath</key>
    <string>/Users/zhengyuxing/Desktop/xy_workp/gre_voc_desktop/sync_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/zhengyuxing/Desktop/xy_workp/gre_voc_desktop/sync_stderr.log</string>

    <key>RunAtLoad</key>
    <false/>
  </dict>
</plist>